<img src="/img/burger.png" width= "200px" alt="burger">

<h1>Eat-Da-Burger!</h1>

<h2 class="waiting">Burgers waiting to be devoured</h2>

<ul>
    {{#each burgers}}
    {{#unless devoured}}
    
    <li>
        {{burger_name}}

        <button class="devour-burger" data-id="{{id}}">
            I'M STARVING!
        </button>
    </li>
    {{/unless}}
    {{/each}}
</ul>

<h2 class="delicious">Burgers devoured</h2>

<ul>
    {{#each burgers}}
    {{#if devoured}}
    <li>

        {{burger_name}}

    </li>
    {{/if}}
    {{/each}}
</ul>

<h2>Add a Burger</h2>
<form class="create-form">

    <div class="form-group">
        <label for="burger">Burger Name:</label>
        <input type="text" id="burger_name" name="name">

        <button type="submit">Add Burger</button>
</form>